@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: grey;
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}

.grid-lines {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.09) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0.09) 1px, transparent 1px),
    linear-gradient(
      to top,
      transparent 60%,
      rgba(0, 0, 0, 0.7) 80%,
      black 100%
    );
  background-size: 70px 70px;
  opacity: 0.7;
}